#!KAMAILIO
# Minimal Kamailio config for SIP over WebSocket demo (DO NOT USE IN PROD)

#!define WITH_WEBSOCKET

loadmodule "sl.so"
loadmodule "tm.so"
loadmodule "xhttp.so"
loadmodule "websocket.so"
loadmodule "pv.so"
loadmodule "siputils.so"
loadmodule "nathelper.so"
loadmodule "registrar.so"
loadmodule "usrloc.so"

modparam("usrloc", "db_mode", 0)
modparam("registrar", "path_mode", 1)

request_route {
    if ($hdr(Upgrade)=~"websocket" && $hdr(Connection)=~"Upgrade" && $rm=="GET") {
        if (!ws_handle_handshake()) { xhttp_reply("403", "Forbidden", "", ""); exit; }
        exit;
    }

    if ($Rp != 5060 && $Rp != 5061) { sl_send_reply("404", "Not Found"); exit; }

    if (is_method("REGISTER")) {
        if (!save("location")) sl_reply_error();
        exit;
    }

    if (!is_method("REGISTER") && is_method("INVITE|ACK|BYE|CANCEL|PRACK|UPDATE|REFER")) {
        if (loose_route()) { route(RELAY); exit; }
        if ($du == "") { 
            if (!lookup("location")) { sl_send_reply("404", "Not Found"); exit; }
        }
        route(RELAY); exit;
    }

    sl_send_reply("405", "Method Not Allowed");
}

route[RELAY] {
    if (!t_relay()) sl_reply_error();
    exit;
}